#fish {
  position: absolute;
  top: 250px;
  right: 100%;
  animation: fish 8s linear infinite, bounce 2s linear infinite;
}

#our-cookies img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about img, #our-cookies img {
  width: 50%;
  float: left;
  margin: 3%;
  box-shadow: 5px 10px 16px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

footer a {
  color: #fad5cf;
}

.left {
  float: left;
}

footer ul li {
  display: block;
  padding: 20px 40px;
  float: left;
  position: relative;
  left: 20%;
}

footer {
  text-align: right;
  color: #fad5cf;
  background: rgba(56, 51, 51, 0.7);
  font-family: 'Poiret One', cursive;
  font-size: 16pt;
  font-weight: bold;
  border: 2px solid black;
  margin-top: 60px;
}

body {
  background-image: url(../images/background_image_salmon.jpg);
  background-attachment: fixed;
}

body {
  line-height: 1;
}

main {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 85%;
  margin: 100px auto;
  padding: 40px;
}

main {
  display: block;
}

#fish {
  position: absolute;
  top: 250px;
  right: 100%;
  animation: fish 8s linear infinite, bounce 2s linear infinite;
}

/* .main-wrapper {
  border: 5px dotted black;
} */

h2 {
  margin: 80px;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 20pt;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

#about div, #our-cookies div {
  width: 90%;
  margin: auto;
  text-align: center;
}

#addLocation{
  width: 90%;
  margin: auto;
  text-align: center;
}

#addLocation{
  width: 90%;
  margin: auto;
  text-align: center;
}

#about img, #our-cookies img {
  width: 50%;
  float: left;
  margin: 3%;
  box-shadow: 5px 10px 16px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

p {
  font-family: 'Life Savers', cursive;
  font-size: 20pt;
  font-weight: bold;
  line-height: 2em;
  text-align: justify;
}

/* img{
  height: 300px;
  width: 300px;
  border: 9px solid turquoise;
  border-radius: 100px;
  margin: 100px;
  text-align: center;
} */

img{
  height: 50%;
  width: 70%;
  border-radius: 100px;
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 70%;
  left: 70%;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
